<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <style>
      body {
        background-color: rgb(240, 240, 240);
      }

      .navbar-container {
        height: 100vh;
        max-width: fit-content;
        overflow-y: auto;
      }

      .nav-pills .nav-link {
        color: white !important;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto">
          <!-- Navbar container -->
          <div class="navbar-container bg-dark">
            <nav class="navbar navbar-expand-sm navbar-light bg-dark">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <div class="col">
          <!-- Main content container -->
          <div class="main-content-container" style="max-width: 400px">
            {% include "chart.html" %}
            <!-- chart in here using include -->
          </div>
        </div>
        <div class="col-3">
          <!-- Aside section container -->
          <div class="aside-container">
            <p>Aside section goes here...</p>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</html>
