{% extends "layouts/base.html" %}
<!-- load static in order to link/ load CSS files -->
{% load static %} {% block stylesheet %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<!-- Link to the chart2.css file -->
<link rel="stylesheet" href="{% static 'css/chart2.css' %}" />

<style>
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
</style>
{% endblock %} {% block content %}
<div class="col-lg-6 col-md-6 mainContainer">
    <div class="row" style="height: 50%; padding-bottom: 5px;">
        <div class="col-12">
            <div class="chartCard">
                <div class="chartBox">
                    <div class="chartContainer">
                        <div class="containerBody" id=containerBody1>
                            <canvas id="myChart1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 50%;">
        <div class="col-12">
            <div class="chartCard">
                <div class="chartBox">
                    <div class="chartContainer">
                        <div class="containerBody" id="containerBody2">
                            <canvas id="myChart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col" style="border: 5px solid rgb(14, 93, 220); box-sizing: border-box">
    <div class="table-responsive" style="padding-top:10px">
        <table class="table table-stripped table-bordered">
            <thead class="thead-dark"></thead>
            <thead>
                <tr>

                    <th style="text-align: center;">Order Date</th>
                    <th style="text-align: center;">Completed Orders</th>
                    <th style="text-align: center;">Ratio</th>
                </tr>
            </thead>
            <tbody id="table1-body">
                <!-- row will be inserted by JS-->
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center" id="pagination">
            <!-- Pagination controls will be inserted here by JavaScript -->
        </ul>
    </nav>
</div>
{% endblock %}

{% block scripts %}
<script>
    var orderDate = {{ orderDate| safe}};
    var ratio = {{ ratio| safe}};
    var completedOrders = {{ completedOrders| safe}};
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
<script src="static/js/home-chart2.js"></script>
<script src="static/js/home-table1.js"></script>

{% endblock %}