{% extends "layouts/base.html" %}
<!-- load static in order to link/ load CSS files -->
{% load static %} {% block stylesheet %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<!-- Link to the chart2.css file -->
<link rel="stylesheet" href="{% static 'css/chart2.css' %}" />

<style>
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
</style>
{% endblock %} {% block content %}
<div class="col-lg-6 col-md-6 mainContainer">
    <div class="row" style="height: 50%;">
        <div class="col-12">
            <div class="chartCard">
                <div class="chartBox">
                    <div class="chartContainer">
                        <div class="containerBody" id=containerBody1>
                            <canvas id="myChart1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 50%;">
        <div class="col-12">
            <div class="chartCard">
                <div class="chartBox">
                    <div class="chartContainer">
                        <div class="containerBody" id="containerBody2">
                            <canvas id="myChart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col" style="border: 5px solid blue; box-sizing: border-box">
    <p>3rd container</p>
</div>
{% endblock %}

{% block scripts %}
<script>
    var orderDate = {{ orderDate| safe}};
    var ratio = {{ ratio| safe}};
    var completedOrders = {{ completedOrders| safe}};
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
<script src="static/js/chart2.js"></script>
{% endblock %}